<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%- data.index.desc %>">
  <title><%- data.index.title %></title>
  <% const hoge = '<h1>HELLO WOELD</h1>' %>
  <% const arry = 
  [
    {
      id: 1,
      name: '田中さん',
      age: '18'
    },
    {
      id: 2,
      name: '佐藤さん',
      age: '22'
    },
    {
      id: 3,
      name: '山口さん',
      age: '24'
    },
  ]; 
  %>
</head>
<body>
  <!-- header -->
  <%- include('./parts/_header.ejs') %>
  <main>
    <%- hoge -%>
    <div class="user">
      <% for (const user of arry) { %>
        <div><%= user.name %></div><% } %>
    </div>
  </main>
  <%- include('./parts/_footer.ejs') %>
</body>
</html>